/* Color Theme Swatches in Hex
.Graphic-Design-1-hex { background-color: #012623; }
.Graphic-Design-2-hex { background-color: #14403B; }
.Graphic-Design-3-hex { color: #F2F2F2; }
.Graphic-Design-4-hex { color: #BFBFBD; }
.Graphic-Design-5-hex { color: #73716F; }

/* Color Theme Swatches in RGBA */
/* .Graphic-Design-1-rgba { color: rgba(0, 38, 34, 1); }
.Graphic-Design-2-rgba { color: rgba(19, 63, 59, 1); }
.Graphic-Design-3-rgba { color: rgba(242, 242, 242, 1); }
.Graphic-Design-4-rgba { color: rgba(191, 190, 189, 1); }
.Graphic-Design-5-rgba { color: rgba(114, 112, 111, 1); } */

/* Color Theme Swatches in HSLA */
/* .Graphic-Design-1-hsla { color: hsla(174, 96, 7, 1); }
.Graphic-Design-2-hsla { color: hsla(174, 52, 16, 1); }
.Graphic-Design-3-hsla { color: hsla(0, 0, 95, 1); }
.Graphic-Design-4-hsla { color: hsla(39, 1, 74, 1); }
.Graphic-Design-5-hsla { color: hsla(22, 1, 44, 1); } */ 



body {
    background-color: #f2f2f2;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

/* CLASSES */

/* GitHub */
.github {
    margin: 0;
    margin-top: 4%;
    margin-left: 4%;
    font-family: Helvetica, sans-serif;
    animation: floating 3s ease-in-out infinite;
}

.gh-container {
    margin: 0;
    width: 450px;
    height: 350px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.gh-top {
    background-color: #06080a;
    color: aliceblue;
    border-radius: 10px 10px 0px 0px;
    padding: 4%;
    display: flex;
    position: relative;
}

.gh-icon {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gh-pfp {
    position: relative;
    top: 5px;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10%;
    display: flex;
    font-size: 16px;
}

.gh-pfp a{
    text-decoration: none;
    color: #ffffff;
}

.gh-pfp li {
    margin: 10px 0;
    margin-top: 0;
}

.gh-pfp img{
    margin-top: 0px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
}

.gh-follow {
    background-color: rgb(52, 52, 52);
    height: 28px;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    top:115px;
    left: 0px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

.gh-follow h6 {
    margin: 0px;
    padding: 4%;
    padding-left: 25%;
} 

.gh-body {
    background-color: #161b22;
    color: aliceblue;
    padding: 3%;
    height: 250px;
}

.gh-shelf img {
    height: 16px;
}

.gh-shelf ul{
    padding: 3%;
    margin: 0;
    list-style-type: none;
}

.gh-icon-book {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gh-repos {
    display: flex;
}

.gh-repos h5{
    margin: 0;
    margin-left: 2%;
}

.gh-bottom {
    background-color: #06080a;
    color: aliceblue;
    border-radius: 0px 0px 10px 10px;
    height: 35px;
}


/* INSTAGRAM */

.instagram {
    background-color: #ffffff;
    margin: 0;
    position: absolute;
    right: 4%;
    bottom: 7%;
    font-family: Helvetica, sans-serif;
    border-radius: 10px;
    animation: floating 3s ease-in-out infinite;
}

.ig-container {
    margin: 0;
    width: 355px;
    height: 450px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.ig-top {
    margin: 0;
    padding: 3%;
    padding-top: 6%;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    gap: 7px;
    position: relative;
    border-bottom: solid rgb(218, 218, 218);
    border-width: 1px;
}


.ig-icon {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ig-top img{
    padding: 0;
    height: 38px;
    background-size: cover;
    border-radius: 50%;
}

.ig-body {
    color: aliceblue;
    padding: 3%;
    height: 325px;
    border-bottom: solid rgb(218, 218, 218);
    border-width: 1px;
    overflow-y: scroll;
}

.ig-pfp {
    position: relative;
    margin: 0;
    padding: 3%;
}

.ig-pfp img{
    border-radius: 50%;
    height: 64px;
}

.ig-pfp h5{
    margin: 0;
    position: absolute;
    color: #000000;
    font-family: sans-serif;
    left: 35%;
    top: 15%;
}

.ig-pfp ul{
    position: absolute;
    color: #000000;
    font-family: sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    left: 33%;
    top: 50%;
}

.ig-pfp ul li{
    display: inline;
    margin-inline: 5px;
}

.ig-bio {
    position: relative;
    margin: 0;
    padding: 4%;
}

.ig-bio img{
    border-radius: 50%;
    height: 64px;
}

.ig-bio h5{
    margin: 0;
    color: #000000;
    font-family: sans-serif;
}

.ig-bio ul{
    color: #000000;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ig-follow {
    background-color: #e4e4e4;
    height: 28px;
    width: 80px;
    border-radius: 5px;
    position: absolute;
    top:7px;
    left: 245px;
    color: #000000;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

.ig-follow h6 {
    margin: 0px;
    padding: 4%;
    padding-left: 17%;
} 

.ig-posts {
    color: aliceblue;
    border-radius: 0px 0px 10px 10px;
    max-height: 200px;
}

.ig-posts ul{
    padding: 4%;
    padding-top: 10%;
    margin: 0;
    list-style-type: none;
}

.ig-posts ul li{
    display: inline;
    margin-inline: 1px;
    
}

.ig-posts ul li img{
    margin: 0;
    height: 95px;
}

/* IG Scroll */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}





/* VSCODE */

.vscode {
    margin: 0;
    position: fixed;
    right: 4%;
    top: 4%;
    font-family: monospace;
    animation: floating 3s ease-in-out infinite;
    border-radius: 10px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

.vs-container {
    margin: 0;
    width: 736px;
    height: 500px;
    border-radius: 10px;
    background-color: #252525;
}

.vs-top {
    background-color: #252525;
    color: aliceblue;
    border-radius: 10px 10px 0px 0px;
    padding: 2%;
    display: flex;
    position: relative;
}

.vs-icon {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vs-icon img {
    height: 24px;
}

.vs-icon h5{
    margin: 0;
    margin-left: 4%;
}

.vs-body p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.vs-body {
    background-color: #333333;
    color: aliceblue;
    padding: 3%;
    padding-left: 5%;
    height: 355px;
    margin-left: 5%;
}

.vs-body img {
    margin: 0;
    margin-top: -22px;
    margin-left: -38px;
    height: 400px;
    width: 700px;
    background-size: contain;
}


.vs-bottom {
    background-color: #252525;
    color: aliceblue;
    border-radius: 0px 0px 10px 10px;
    height: 15px;
}


/* INFO ABT ME */
.my-info {
    position: fixed;
    left: 37%;
    height: 300px;
    width: 500px;
    background-color: transparent;
    border-radius: 10px;
    animation: floating 3s ease-in-out infinite;
}

.my-id {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    border-radius: 10px;
    background-color: #2d3439;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

.myid-face.front {
    position: relative;
    border-radius: 10px;
    background-color: #2d3439;
}

.myidf-top {
    height: 54px;
    width: 100%;
    background-color: #23272b;
    border-radius: 10px 10px 0px 0px;
}

.myidf-top h2 {
    margin: 0;
    padding: 3%;
    color: #ffffff;
}

.my-id img {
    position: fixed;
    top: 65px;
    left: 20px;
    height: 150px;
    border-radius: 5px;
}
.h-info {
    margin: 0;
    list-style-type: none;
    color: #ffffff;
    position: fixed;
    top: 80px;
    left: 125px;
}

.h-info li {
    margin-bottom: 35px;
    font-weight: 600;
}

.info {
    margin: 0;
    list-style-type: none;
    color: #ffffff;
    position: fixed;
    top: 105px;
    left: 140px;
}

.info li {
    margin-bottom: 35px;
    font-weight: 400;
}

.myid-face {
    border-radius: 10px; 
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: transparent;
}

.myid-face.back {
    top: -1%;
    border-radius: 10px; 
    display: block;
    transform: rotateY(180deg);
    color: white;
}

.myidb-top {
    height: 54px;
    width: 100%;
    background-color: #23272b;
    border-radius: 10px 10px 0px 0px;
}

.myidb-top h2 {
    margin: 0;
    padding: 3%;
    color: #ffffff;
}

.projects {
    margin: 0;
    list-style-type: none;
    color: #ffffff;
    position: fixed;
    padding: 5%;
}

.projects li {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
}

.projects a {
    text-decoration: none;
    color: #ffffff;
}

.myid-bottom {
    position: fixed;
    bottom: 0;
    height: 54px;
    width: 100%;
    background-color: #23272b;
    border-radius: 0px 0px 10px 10px;
} 

.myid-bottom h4 {
    margin: 0;
    padding: 4%;
    padding-left: 3%;
    color: #ffffff;
}

/* SOURCE CODE */
.SC {
    text-decoration: none;
    color: #908e8e;
    position: fixed;
    bottom: 10px;
    margin: 0;
    left: 45%;
}

.SC h6{
    margin: 0;
}

footer {
    margin: 0;
    padding: 0;
}

/* ANIMATION */

/* me photo */
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }    
}

/* id flip */
.my-info:hover .my-id{
    transform: rotateY(180deg);
}
